
/* SECTION GLOBALE */

:root {
    --color1: #D89584;
    --color2: #F4F4F4;
}

* {
    
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
}

iframe {
    width: 100%;
    border: none;
    height: 350px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-top: 0;
}

div.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 5px;
}

div.cover {
    background: url(ressources/cover_overlay.png) no-repeat center/100% 100%,url(ressources/cover.jpg) no-repeat center/cover;
    height: 350px;
    position: relative;
}

img.cover-profile {
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
}

div.cover-contact {
    position: absolute;
    top: 20px;
    left: 10px;

    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover-contact p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

div.cover-contact p:first-child {
    margin-bottom: 14px;
}

div.cover-contact a {
    color: white;
    font-size: 14px;
}

a.cover-me-contacter {
    text-align: center;
}

a.cover-me-contacter a {
    color: var(--color1);
    text-decoration: none;
    font-weight: bold;
    border: 3px solid var(--color1);
    padding: 8px 20px;
    display: inline-block;
    background-color: #00000040;
    margin-top: 15px;
    font-size: 14px;
}

a.cover-me-contacter a:hover {
    color: white;
    border-color: white;
}

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

div.section-grise-1 {
    background: url(ressources/triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);
    padding-bottom: 80px;
}

div.section-grise-2 {
    background: url(ressources/triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 80px;
}

div.separateur {
    background-color: #979797;
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

div.section-grise-1 p {
    font-size: 22px;
    color: #656565;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

img.col-contenu {
    width: 40%;
}

div.col-contenu {
    width: 60%;
    padding-left: 16px;
}

.float-right {
    float: right;
}

div.texte-avec-ligne-verticale {
    margin-top: 0;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}

div.texte-avec-ligne-verticale p:first-child{
    margin-top: 0;
}

div.barre-verticale {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

.col-portefolio {
    width: 45%;
    
}

div.frame {
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}

p.frame-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* SECTION PORTEFOLIO */

div.portefolio-header {
    height: 90px;
    background: url(ressources/header.jpg) no-repeat center/cover;
    position: relative;
}

p.portefolio-header-title {
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 8px;
}

h1.portefolio {
    color: black;
    font-size: 46px;
}

h2.portefolio {
    color: black;
    font-size: 26px;
    font-weight: normal;
}

.portefolio-retour {
    color: var(--color1);
    padding-left: -10px;
}

img.portefolio {
    width: 70%;
    max-width: 550px;
}

a.contact-button-portefolio {
    position: absolute; 
    right: 20px; 
    top: 5px;
}



/* RESPONSIVE DESIGN*/
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 38px;
        margin-top: 6px;
        margin-bottom: 0;
    }
    
    
    div.cover p {
        margin-top: 5px;
        font-size: 13px;
    }
    
    
    img.cover-profile {
        height: 90px;
        margin-top: 75px;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
  
    }
    
    div.section-grise-1 {
        padding-bottom: 40px;
    }

    h2 {
        font-size: 30px;
    }

    img.col-contenu {
        width: 100%;
    }
    
    div.col-contenu {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .col-portefolio {
        width: 100%;
        margin-bottom: 20px;
    }

    div.frame {
        margin: 0px 0px;
        padding: 0px 0px;
        box-shadow: none;
    }

    iframe {
        height: 550px;
    }

    /* PORTEFOLIO */

    p.portefolio-header-title {
        font-size: 20px;
        padding-top: 8px;
        padding-left: 8px;
    }
}